<a href="https://colab.research.google.com/github/Gmentesh2/Gcollab/blob/main/train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [41]:
def symbol_to_path(symbol,base_dir="sample_data"):
  return os.path.join(base_dir,f"{symbol}.csv")

In [45]:
symbols = ["DIS","FB","WMT"]
def get_data(symbols,dates):
  df = pd.DataFrame(index=dates)
  if "AAPL" not in symbols:
    symbols.insert(0,"AAPL")
  for symbol in symbols:
     main_df = pd.read_csv(
      symbol_to_path(symbol),
      index_col="Date",
      parse_dates=True,
      usecols=["Date","Adj Close"],
      na_values="nan"
      
  )   
     main_df = main_df.rename(columns={"Adj Close": symbol})
     df = df.join(main_df,how="inner")
     df = df.dropna()
     
  return df

 
dates = pd.date_range("2021-11-12","2021-11-23")
get_data(symbols,dates)

                  AAPL         DIS          FB         WMT
2021-11-12  149.990005  159.630005  340.890015  147.167450
2021-11-15  150.000000  158.429993  347.559998  146.320862
2021-11-16  151.000000  158.830002  342.959991  142.595856
2021-11-17  153.490005  157.330002  340.769989  141.370789
2021-11-18  157.869995  155.580002  338.690002  142.585907
2021-11-19  160.550003  154.000000  345.299988  141.818985
2021-11-22  161.020004  154.160004  341.010010  144.199402
2021-11-23  161.410004  151.029999  337.250000  145.225266